.headline{
    text-align: center;
}

.global-block{
    text-align: center;
    border-style: ridge;
    min-height: 20vh;
    min-width: 40vh;
    max-width: 40vh;
    box-shadow: 5px 5px rgb(54, 52, 52);
}

.block h4{
    font-size: 20px;
}